    <div class="panel panel-primary">
        <div class="panel-heading">Enter a valid input</div>
        <div class="panel-body">
            <div class="form-group">
                <label for="name">Enter name:</label>
                <input type="text" id="Name" value="" maxlength="15" placeholder="John Smith" />
                <br />
                <small id="helpName" class="form-text text-muted">Name should be at-least 2 characters</small>

            </div>
            <div class="form-group">
                <label for="amount">Enter money:</label>
                <input type="number" id="Amount" value="" placeholder="123.45" max="999.99" min="0.0" />
                <br />
                <small id="help" class="form-text text-muted">number should be between 0 and 999.99</small>
            </div>
            <div class="row">
                <button id="btnSubmit" class="btn btn-info col-sm-offset-2">Submit</button>
            </div>
            <br/>
            <div class="form-group">
                <div id="resopnseAmount" class="text-info">hirehgreoihoiighgoi</div>
                <div id="responseName" class="text-info">ghrioghrgoi</div>
                <div id="responseError" class="text-danger">goirehgoirgh</div>
           
            </div>
        </div>
        </div>

